  /* nav css */
.weblogo{
    width: 65px;
}
.navbar{
    background: #00000082!important;
}
.navbar-nav li{
    padding: 0 10px;

}
.navbar-nav li a{
    color:#fff !important;
    font-weight: 600;
    font-size: 20px;
    
}

.moblogo{
    display: none;
}
@media(max-width:768px)
{
    .moblogo{
        display: block;
    }
    .weblogo{
        display: none;
    }
    .navbar{
        background: yellow !important;
    }
    .img123{
        width: 100%;
        margin-top: 20px;
        
    }
}

  /* nav css end */


  .a{
    text-align: center;
    padding-top: 20px;
    text-transform: uppercase;
    font-family: 'prague';
    letter-spacing: 3px;
}
.b{
    line-height: 35px;
    letter-spacing: 1px;
    word-spacing: 1px;
    padding-right: 5px;
    text-align: justify;
}
.img123{
    width: 80%;
    margin-bottom: 20px;
}
.c{
   background-image: url(../Image/img\ background.jpg);
   width: 100%;
   height: 450px;
   background-position: center;
   background-size: cover;
   padding-top: 100px;
}
.d{
    line-height: 35px;
    letter-spacing: 1px;
    word-spacing: 1px;
    padding-right: 5px;
    color: white;
    
}
.e{
    color: white;
    line-height: 35px;
    letter-spacing: 1px;
    word-spacing: 1px;
    padding-right: 5px;
    
    
}
.f{
    background-image: url(https://pn-paul.netlify.app/image/ffback2.png);
    width: 100%;
    height: 450px;
    background-position: center;
    background-size: cover;
    padding-top: 100px;
}
footer{
    background: #020306f0;
    padding: 50px;
    color: #fff;
}
footer .img1234{
    width: 50%;
    margin-top: 30px;
}




        /* ABOUT CSS */



        .g{
            background-image: url(../Image/gamebanner.jpg);
            width: 100%;
            height: 450px;
            background-position: center;
            background-size: cover;
            padding-top: 100px;
        }

        /* ABOUT CSS end */

         /* BRAND CSS */




         


         /* BRAND CSS end */





         /* OUR TEAM CSS */


         /* OUR TEAM CSS end */

         /* PRESS RELEASE CSS */




         /* PRESS RELEASE CSS end */

         /* CONTACT CSS */




         /* CONTACT CSS end */

          /* CAREERS CSS */




         /* CAREERS CSS end */






        @media(max-width:768px)
{
    .moblogo{
        display: block;
    }
    .weblogo{
        display: none;
    }
    .navbar{
        background: yellow !important;
    }
    .img123{
        width: 100%;
        margin-top: 20px;
        
    }
}